@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');

*, html, body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container-section{
    height: 100vh;
}

.container-bleker{
    width: 100%;
    height: 100%;
    background-color: #ffff;
}

.container-ContAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navwarpper{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    left: 0px;
}

.container-img{
    width: 80px;
    margin-left: 50px;
    cursor: no-drop;
}

#container-Nyooo{
    margin-left: 20px;
    font-size: 35px;
    color: darkslategray;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Kenia', cursive;
}

#container-A{
    font-size: 17px;
    color: darkslategray;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto';
    margin-top: -5px;
}

input::placeholder{
    font-size: 14px;
    color: darkslategray;
    font-weight: bold;
    text-transform: uppercase;
}

#container-FD{
    margin-left: 40px;
    margin-top: 4px;
}

#container-Button{
    font-size: 13px;
    color: darkslategray;
    font-weight: bold;
    text-transform: uppercase;
}

.container-Bakcr{
    width: 500px;
    margin-left: 80px;
    height: auto;
    cursor: no-drop;
    margin-top: 150px;
}

.container-Pragraf{
    margin-left: 80px;
    margin-right: 30px;
    text-align: justify;
    margin-top:270px;
}

.button-AHref{
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #41644A;
    width: 120px;
    height: 40px;
    margin-top: 27px;
    margin-left: 727px;
    padding: 7px;
    border-radius: 4px;
}

#contaier-About{
    margin-top: 100px;
    background-color: #F3FDE8;
    max-width: 100%;
    height: 690px;
}

#container-ContMnu{
    margin-top: 100px;
    background-color: #ffff;
    max-width: 100%;
    height: 690px;
}

.KLAbout{
    position: absolute;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: darkslategray;
    font-family: 'Roboto';
    margin-left: 600px;
}

.KLAbouta{
    position: absolute;
    margin-top: -50px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: darkslategray;
    font-family: 'Roboto';
    margin-left: 600px;
}

.container-AbPra{
    position: relative;
    margin-right: 700px;
    margin-left: -30px;
    text-align: justify;
    margin-top: 100px;
    color: darkslategray;
}

.container-BakcAB{
    position: relative;
    margin-left: 720px;
    margin-top: -600px;
    cursor: no-drop;
}

.container-Aboua{
    position: relative;
    width: 100px;
    margin-left: 720px;
    cursor: no-drop;
}

.button-ak{
    position: relative;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #41644A;
    width: 300px;
    height: 40px;
    margin-top: 460px;
    margin-left: -240px;
    padding: 10px;
    border-radius: 4px;
}

.prag{
    position: absolute;
    margin-top: 56px;
    text-align: center;
    margin-left: 575px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: darkslategray;
    font-family: 'Roboto';
}

.pragMnu{
    position: absolute;
    margin-top: 56px;
    text-align: center;
    margin-left: 528px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: darkslategray;
    font-family: 'Roboto';
}

.card{
    margin-top: 200px;
}

#container-HoM3 {
    z-index: 2; /* Atur nilai sesuai kebutuhan Anda, lebih tinggi dari elemen lain */
  }
  